*{
    margin: 0px;
    padding: 0px;
}
/* header section css */
.header .container{
    background: transparent;
    position: absolute;
    z-index: 1;
}
.logo img{
    padding-top: 1.5rem;
    padding-left: 15rem;
}
.navbar ul{
    margin-left: 13rem;
    list-style-type: none;
}
.navbar ul li{
    font-family: poppins , sans-serif;
    text-transform: uppercase;
    padding-top: 2rem;
    color: #DCE3FF;
    float: left;
    margin-left:1.5rem;
    font-size: 0.8rem;
}
/* end of header section css */

/* banner section css */
.banner{
    position: relative;
    background-color: #430064;
}
.banner .dotes{
    position: absolute;
    padding-top: 32rem;
    margin-left: -5rem;
}
.banner .dotes img{
    height: 5.5rem;
    width: 3rem;
}
.banner .triangles .colum1{
    margin-top: 7rem;
}
.banner .triangles .colum1 img{
    margin-left: -4.5rem;
    height: 3.5rem;
}
.banner .triangles .colum2{
    margin-top: 20rem;
    padding-bottom: 3rem;
}
.banner .triangles .colum2 img{
    margin-left: -2rem;
    height: 3rem;
}
.banner .about{
    font-family: poppins , sans-serif;
    align-items: center;
    padding-left: 2rem;
    padding-top: 12rem;
    max-width: 20rem;
}
.banner .about h2{
    font-weight:bolder;
    line-height: 3rem;
    color: white;
    text-transform: capitalize;
    font-size: 2.8rem;
}
.banner .about p{
    line-height: 1rem;
    margin-top: -0.5rem;
    color: #DCE3FF;
    font-size: 0.8rem;
    text-align: justify;
}
.banner .about span button{
    margin-top: 0.5rem;
    color: #7E35FE;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    border-radius: 0.3rem;
}
.banner .images{
    position: relative;
}
.banner .images .pic1{
    margin-bottom: -1rem;
    padding-top: 5rem;
}
.banner .images .pic1 img{
    max-height: 9rem;
}
.banner .images .pic2{
    position: absolute;
    z-index: 1;
}
.banner .images .pic2 img{
    margin-top: -6rem;
    margin-left: -2rem;
    max-height: 28rem;
}
.banner .images .pic3{
    padding-left: 22rem;
    margin-top: 3rem;
}
.banner .images .pic3 img{
    margin-bottom: -30rem;
    max-height: 9rem;
}
.banner .pic4{
    padding-top: 28rem;
    padding-left: 5rem;
}
.banner .pic4 img{
    max-width: 3rem;
}
/* end of banner section css */

/* start of about_us css */
.about_us{
    background-color: #360263;
    color: white;
    /* font-family: poppins , sans-serif; */
}

.about_us .who_are_we{
    align-items: center;
    padding: 6rem 7rem;
}
.about_us .who_are_we h1{
    font-size: 160%;
    font-weight: bolder;
    text-transform: capitalize;
}
.about_us .who_are_we p{
    font-size: 0.7rem;
    text-align: left;
}
.about_us .who_are_we > span{
    line-height: 0.5rem;
    font-size: 0.9rem;
    text-align: justify;
}
.about_us .who_are_we button{
    font-size: 0.7rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    color: #7E35FE;
    font-weight: bold;
}
.about_us .who_are_we button img{
    margin-left: 0.5rem;
    height: 0.8rem;
}
.about_us  .back{
    position: relative;
    padding-top: 4rem ;
}
.about_us  .back  img{
    height: 20rem;
}
.about_us  .front{
    position: absolute;
    z-index: 1;
}
.about_us  .front  img{
    height: 14rem;
    margin-top: -11rem;
    margin-left: 12rem;
}
/* end of about_us css */